<h3>Book Registration</h3>

<form #newform="ngForm" (ngSubmit)="onSubmit(newform)">
    <label for="id" style="width:100px; display:inline-block">Id: </label>
    <input type="text" name="id" ngModel #id="ngModel" required minlenth="3" maxlength="3"><br />
    <div *ngIf="id.touched && id.errors">
        <div *ngIf="id.errors.required" style="background-color:red;color:white">
            Enter Id
        </div>
        <div *ngIf="id.errors.minlength || id.errors.maxlength" style="background-color:red;color:white;">
            Enter 3 letters
        </div>
    </div>

    <label for="bookName" style="width:100px; display:inline-block">Book Name: </label>
    <input type="text" name="bookName" ngModel #bookName="ngModel" required><br />
    <div *ngIf="name.touched && bookName.errors" >
        <div *ngIf="bookName.errors.required" style="background-color:red;color:white">
            Enter Book Name
        </div>
        <div *ngIf="name.errors.minlength" style="background-color:red;color:white">
            Enter greater than 3 letters
        </div>     
        <div *ngIf="name.errors.maxlength" style="background-color:red;color:white">
            Enter less than 50 letters
        </div>           
    </div>    

    <label for="price" style="width:100px; display:inline-block">Price: </label>
    <input type="number" name="price" ngModel #price="ngModel" required><br />
    <div *ngIf="price.touched">
        <div *ngIf="price.value < 50" style="background-color:red;color:white">
            Enter greater than $50
        </div>   
        <div *ngIf="price.value > 500" style="background-color:red;color:white">
            Enter less than $500
        </div>         
    </div>

    <label for="date" style="width:100px; display:inline-block">Date: </label>
    <input type="date" name="date" ngModel #date="ngModel" required><br />
    <div *ngIf="date.touched"  [hidden]="date.valid" style="background-color:red;color:white">
        Enter date
    </div> 

    <br />
    <button type="submit">Register</button><br />
    <br />

    <div style="background-color: gray;">
        <div [innerText]="'bookId:' + id.value"></div>
        <div [innerText]="'bookName:' + bookName.value"></div>
        <div [innerText]="'price:' + price.value"></div>
        <div [innerText]="'date:' + date.value"></div>
    </div>
</form>

<!--<h1>Book</h1>
<p class="font-orange">{{name}}</p>
<p class="font-red">{{getName()}}</p>-->

<ul>
    <li *ngFor = "let book of books" class="font-red"><img src="./assets/images/{{book.img}}" height="80">
        {{book.name}}
    </li>
</ul>

<input type="text" [name]="'bookName'" [size]=30 value="{{name}}"><br />

<h3>Book List</h3>
<ul>
    <li *ngFor="let book of books">
        <book-image [path]="book.img" [title]="book.name" [width]="60" [height]="80" 
        (selectBook)="onClick(book.name)"></book-image>
    </li>
</ul>
<br />
Selected Book : <input type="text" name="selectedBook" value="{{bookName}}">