<h3>Book Registration</h3>

<form [formGroup]="bookForm" #newform (ngSubmit)="onSubmit(newform)">
    <label for="id" style="width:100px; display:inline-block">Id: </label>
    <input type="text" name="id" formControlName="id"><br />
    <div *ngIf="bookForm.controls['id'].touched" [hidden]="bookForm.controls['id'].valid" style="background-color:red;color:white;">
        Enter id
    </div>    

    <label for="name" style="width:100px; display:inline-block">Book Name: </label>
    <input type="text" name="name" formControlName="name"><br />
    <div *ngIf="bookForm.controls['name'].touched" [hidden]="bookForm.controls['name'].valid" style="background-color:red;color:white;">
        Enter book name
    </div>   

    <label for="price" style="width:100px; display:inline-block">Price: </label>
    <input type="number" name="price" formControlName="price"><br />
    <div *ngIf="bookForm.controls['price'].touched" [hidden]="bookForm.controls['price'].valid" style="background-color:red;color:white;">
        Enter price
    </div> 

    <label for="date" style="width:100px; display:inline-block">Date: </label>
    <input type="date" name="date" formControlName="date"><br />
    <div *ngIf="bookForm.controls['date'].touched" [hidden]="bookForm.controls['date'].valid" style="background-color:red;color:white;">
        Enter date
    </div>  

    <br />
    <button type="submit">Register</button><br />
    <br />

    <div style="background-color: gray;">
        <div [innerText]="'id:' + bookForm.controls['id'].value"></div>
        <div [innerText]="'name:' + bookForm.controls['name'].value"></div>
        <div [innerText]="'price:' + bookForm.controls['price'].value"></div>
        <div [innerText]="'date:' + bookForm.controls['date'].value"></div>
    </div>
</form>

